---
permalink: /status/
jsEntry: status
---
<!DOCTYPE html>
<html>
{% capture metaDesc %}Mirror Monitoring, with traffic and disk usage, cpu, memory and mirror sync status{% endcapture %}
	{% include head.html metaDesc=metaDesc notArticle=true %}
<body>
	{% include nav.html %}
	<div id="status-page">
	{% unless site.issue %}
		<div class="spacing d-none d-sm-block"></div>
		<div class="container">
			{% unless site.hide_server_status %}
			<h3 id="server-status"> # Server Status Monitoring </h3>
			<h4> # Network Connection / Traffic </h4>
			<div class="row">
				{% include status-pic.html name="connection" %}
				{% include status-pic.html name="traffic" %}
			</div>
			<h4># CPU / Memory</h4>
			<div class="row">
				{% include status-pic.html name="cpu" %}
				{% include status-pic.html name="memory" %}
			</div>
			<h4># Disk Usage </h4>
			<div class="row">
				<div id="disk-usage"></div>
				{% include status-pic.html name="diskrw" %}
				{% include status-pic.html name="disku" %}
				{% include status-pic.html name="disk1" %}
				{% include status-pic.html name="disk2" %}
			</div>
			{% endunless %}
			<h3 id="syncing-status"># Sync Status</h3>
			<div id="mirror-list" class="row"></div>
		</div><!--/container -->
		{% endunless %}
	</div><!--/status -->
	{% include footer.html %}
</body>
</html>
<!--
vim: ts=2 sts=2 sw=2 noexpandtab
-->
