---
permalink: /fancy-index/before.html
title: Index of {{url}}
---
<!DOCTYPE html>
<html>
{% capture url %}{% raw %}{{url}}{% endraw %}{% endcapture %}
{% capture metaDesc %}Index of {{url}}{% endcapture %}
	{% include head.html metaDesc=metaDesc notArticle=true url=url %}
	<body>
		{% include nav.html %}

		<div id="mirrors">
			<div class="spacing hidden-xs"></div>

			<div class="container">
				<div class="row">
					<div class="col-md-12 table-responsive" id="mirror-list">
						<div>
							<div class="col-md-8 col-xs-12 vbottom"><h3>{% fa_svg fas.fa-cube %} Index of <span id="path">{{url}}</span></h3></div><!--
							--><div class="col-md-4 col-xs-12 text-right-md text-left-xs vbottom" v-show="nowBrowsingMirror" style="display: none;">
								<strong>Last Update:</strong> {% raw %}{{open}}nowBrowsingMirror.last_update{{close}}{% endraw %}
								<span v-if="nowBrowsingMirror.show_status" :class="['label', 'label-status', nowBrowsingMirror.label, 'hidden-xs']">{% raw %}{{open}}nowBrowsingMirror.status{{close}}{% endraw %}</span>
							</div>
						</div>
					<h1 style="display: none;">{{url}}</h1>
<!--
	vim: ts=2 sts=2 sw=2 noexpandtab
-->
